<section class="logo">
  <h1><%= t('titles.application') %></h1>
  <h3><%= t('titles.tag_line') %></h3>
</section>
<article class="explanation">
  <p>Pull Feed keeps you up to date on a GitHub repository via a news feed of incoming pull requests. The format for a feed of a particular repository is: http://pullfeed.co/feeds/<strong>owner</strong>/<strong>repository</strong>. For example: <%= link_to feed_url(owner: 'edwardloveall', repo: 'pullfeed'), feed_url(owner: 'edwardloveall', repo: 'pullfeed') %> is the feed url for this codebase.</p>
  <p>Enter the feed url into your feed reader to subscribe to GitHub pull requests.</p>
</article>
