html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  width: $text-width;

  @include media(min-width $medium-screen) {
    width: $logo-container;
  }
}

footer {
  color: $medium-gray;
  flex: 0 0 auto;
  text-align: center;
  padding: $base-spacing 0;

  a {
    color: $medium-gray;
  }
}

@include selection {
  background-color: lighten($action-color, 30%);
}
