.link-builder {
  margin-top: golden-ratio($base-spacing, 2);

  @include media(min-width $medium-screen) {
    margin: golden-ratio($base-spacing, 2) 0 0 em($logo-size) + $base-spacing;

    .wrap {
      display: flex;
      flex-wrap: nowrap;
    }

    .field.owner {
      margin-right: 1em;
    }
  }

  .wrap {
    margin: auto;
  }

  .owner {
    margin-right: 0;
  }

  label {
    color: $medium-gray;
    font-size: $small-font-size;
  }

  a.feed {
    display: block;
    line-height: 1em;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.2s ease;
    white-space: nowrap;

    &::before {
      @include size(18px);
      background: $action-color image-url('feed-icon.svg') no-repeat center center;
      border-radius: $base-border-radius;
      content: '';
      display: inline-block;
      margin-right: 0.5em;
      vertical-align: -3px;
    }

    &.hidden {
      transform: translateY(0.5em);
      opacity: 0;
      pointer-events: none;
    }
  }
}
