<footer>
  <span>Created by <%= link_to t('strings.creator'), 'http://edwardloveall.com' %></span>
&bull;
  <span><%= link_to 'Source code', 'http://github.com/edwardloveall/pullfeed', target: '_blank' %></span>
</footer>
